{% extends "base.html" %}
{% block content %}
    <section style="font-family: Arial, sans-serif; margin: 20px;">
        <h2>About the Author</h2>
        <div style="display: flex; align-items: center;">
            <div>
                <p>Hello! My name is Julie Folkerts. I was born and raised in Amsterdam and am currently living in Kraków for my studies.</p>
                <p>I am in my first year of a bachelor of science in Applied Informatics and I am hoping to further a career in the world of computer science. In my spare time I like to play basketbal and attend festivals with my friends.</p>
            </div>
        </div>
    </section>
{% endblock %}