<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}" >
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
        <nav class="topnav" id="myTopnav">
            <a href="{{ url_for('author') }}">Author</a>
            <a href="{{ url_for('extract') }}">Extract</a>
            <a href="{{ url_for('index') }}">Index</a>
            <a href="{{ url_for('product', product_id='product_id') }}">Product</a>
        </nav>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <!--<nav>
            <li><a href="{{ url_for('author') }}">Author</a></li>
            <li><a href="{{ url_for('extract') }}">Extract</a></li>
            <li><a href="{{ url_for('index') }}">Index</a></li>
            <li><a href="{{ url_for('product',product_id='product_id') }}">Product</a></li>
        </nav>-->
    </header>
    <section>
        {% block content %}
        <p>This is base file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Julie Folkerts</p>
    </footer>

</body>
</html>