<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" >
    <title>Ceneo.pl Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
        <div class="topnav" id="myTopnav">
            <a href="#author" class="Author">Home</a>
            <a href="#extract">Extract</a>
            <a href="#index">Index</a>
            <a href="#product">Product</a>
            <a href="#products">Products</a>
            <a href="javascript:void(0);" class="icon" oncglick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
    <section>
        {% block content %}
        <p>This is base file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Julie Folkerts</p>
    </footer>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>
</html>