{% extends "base.html" %}
{% block content %}
    <p>This is {{product_id}} file</p>
    <div class="btn-group btn-group-sm">
        <button onclick="location.href='{{url_for('download_json', product_id=product_id)}}'" class="btn btn-success mr-2">Download JSON</button>
        <button onclick="location.href='{{url_for('download_csv', product_id=product_id)}}'" class="btn btn-success mr-2">Download CSV</button>
        <button onclick="location.href='{{url_for('download_xlsx', product_id=product_id)}}'" class="btn btn-success mr-2">Download XLSX</button>
    </div>
    <a type="button" class="btn btn-outline-dark" href="{{url_for('charts', product_id=product_id)}}">Charts</a>
    {{opinions | safe}}
{% endblock %}
   
{% block scripts %}
<script>
    let table = new DataTable('#opinions', {
        responsive: true
    });
</script>
{% endblock %}
